<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-locations" >
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.title" />
		</td>
		<td>
		{location.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.teaser" />
		</td>
		<td>
		{location.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.description" />
		</td>
		<td>
		{location.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.street" />
		</td>
		<td>
		{location.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.street_no" />
		</td>
		<td>
		{location.streetNo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.zip" />
		</td>
		<td>
		{location.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.city" />
		</td>
		<td>
		{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.country" />
		</td>
		<td>
		{location.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.phone" />
		</td>
		<td>
		{location.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.email" />
		</td>
		<td>
		{location.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_locations_domain_model_location.contact_person" />
		</td>
		<td>
		{location.contactPerson}
		</td>
	</tr>
</table>
</html>
