<!-- Burger Button-->
<div class="block lg:hidden pr-4">
    <button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
</div>

<!-- Navigation -->
<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
    <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <f:for each="{mainnavigation}" as="mainnavigationItem">
            <li class="mr-3">
                <a href="{mainnavigationItem.link}" class="{f:if(condition='{mainnavigationItem.active}',then:'font-bold', else:'hover:text-gray-800 hover:text-underline')} inline-block text-black no-underline  py-2 px-4" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">
                    {mainnavigationItem.title}
                </a>
                <f:if condition="mainnavigationItem.children">
                    <f:render section="submenu" arguments="{subnavigation:mainnavigationItem}" />
                </f:if>
            </li>
        </f:for>
    </ul>
    <button id="navAction" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75">Kontakt</button>
</div>


<f:section name="submenu">
    <ul class="absolute hidden opacity-0 bg-blue-100 shadow-lg w-72 group-hover:opacity-100 group-hover:block transition ease-out duration-700">
        <f:for each="{subnavigation.children}" as="subnavigationItem" iteration="iteration">
            <li class="{f:if(condition:iteration.isOdd, then:'bg-blue-80')}">
                <a href="{subnavigationItem.link}"
                   class="block py-2 px-3 hover:text-blue-1000 hover:bg-blue-200 hover:font-semibold transition ease-out duration-500
                        {f:if(condition: subnavigationItem.active, then:'bg-blue-200 text-blue-1000 font-semibold')}"
                   target="{subnavigationItem.target}" title="{subnavigationItem.title}">
                    {subnavigationItem.title}
                </a>
            </li>
        </f:for>
    </ul>
</f:section>