{namespace e = Ssch\Typo3Encore\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
    <e:renderWebpackLinkTags entryName="locations"/>
    <e:renderWebpackScriptTags entryName="locations"/>

    <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Standorte</h1>

    <div id="root-locations"></div>

    <script>
        var ROUTE_LOCATIONS = "{f:uri.page(pageUid: 1, absolute: 1, additionalParams: {type: '50740101'})}";
    </script>
</f:section>
</html>
