<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<div class="w-full mx-auto py-12">
    <f:if condition="{data.header}">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">{data.header}</h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
    </f:if>
    <f:if condition="{records}">
        <div class="shadow-md  my-12">
            <f:for each="{records}" as="record" iteration="iteration">
            <div class="tab w-full overflow-hidden border-t">
                <input class="absolute opacity-0" id="tab-single-{record.data.uid}" type="radio" name="tabs2">
                <label class="block p-5 leading-normal cursor-pointer" for="tab-single-{record.data.uid}">{record.data.header}</label>
                <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-pink-500 leading-normal">
                    <f:if condition="{record.files}">
                        <f:for each="{record.files}" as="filesItem" iteration="iteration">
                            <figure class="mb-8 mt-4">
                                <f:image class="rounded-full mx-6 border-2 border-pink-500 shadow-lg" image="{filesItem}" width="100" height="100c"/>
                                <f:if condition="{filesItem.description}">
                                    <figcaption>
                                        {filesItem.description}
                                    </figcaption>
                                </f:if>
                            </figure>
                        </f:for>
                    </f:if>
                    <f:if condition="{record.data.teaser}">
                        <div class="text-blue-1000 m-6 font-semibold">
                            <f:format.html>{record.data.teaser}</f:format.html>
                        </div>
                    </f:if>
                    <f:if condition="{record.data.bodytext}">
                        <div class="m-6">
                            <f:format.html>{record.data.bodytext}</f:format.html>
                        </div>
                    </f:if>
                </div>
            </div>
            </f:for>
        </div>
    </f:if>
</div>
</html>


