<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Header">
    <f:if condition="{gallery.position.noWrap} != 1">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:if>
</f:section>
<f:section name="Main">
    <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
        <f:if condition="{gallery.position.vertical} != 'below'">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </f:if>

        <f:if condition="{data.bodytext}">
            <f:then>
                <div class="ce-bodytext">
                    <f:if condition="{gallery.position.noWrap}">
                        <f:render partial="Header/All" arguments="{_all}" />
                    </f:if>
                    <f:format.html>{data.bodytext}</f:format.html>
                </div>
            </f:then>
            <f:else>
                <f:if condition="{gallery.position.noWrap}">
                    <f:if condition="{data.header}">
                        <div class="ce-bodytext">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </div>
                    </f:if>
                </f:if>
            </f:else>
        </f:if>

        <f:if condition="{gallery.position.vertical} == 'below'">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </f:if>
    </div>
</f:section>



<f:section name="CallToAction">
    <!--Left Col-->
    <div class="flex flex-col {f:if(condition='{files}',then:'w-full md:w-2/5 items-start text-center md:text-left',else:'mt-8 w-full items-center')} justify-center ">
        <p class="uppercase tracking-loose ">{data.subheader}</p>
        <h1 class="my-4 text-5xl font-bold leading-tight {f:if(condition='{files}',then:'text-5xl', else:'text-4xl uppercase')}">{data.header}</h1>
        <div class="leading-normal text-2xl mb-8">
            <f:format.html>{data.bodytext}</f:format.html>
        </div>

        <f:if condition="{data.header_link}">
            <f:link.typolink parameter="{data.header_link}" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg">Read more</f:link.typolink>
        </f:if>
    </div>
    <f:if condition="{files}">
        <!--Right Col-->
        <div class="w-full md:w-3/5 py-6 text-center">
            <f:for each="{files}" as="filesItem" iteration="iteration">
                <figure class="mb-6">
                    <f:image image="{filesItem}" class="w-full md:w-4/5 z-50" />
                </figure>
            </f:for>
        </div>
    </f:if>
</f:section>

</html>
